.sign-in-button:hover {
  background-color: gray
}
.sign-up-button:hover {
    background-color: gray
}
.logout-button:hover {
    background-color: gray
}
.delete-review-button:hover {
    background-color: gray
}
.user-review-form-button:hover {
    background-color: gray
}

.user-profile-button:hover {
    background-color: gray
}

.sign-in-button,
.sign-up-button,
.logout-button,
.delete-review-button,
.user-review-form-button,
.user-profile-button {
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #e8e8e8;
    cursor: pointer;
    letter-spacing: .05em;
    background-color: Transparent;
    border: none;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
}