.FormLogo {
    width: 64px;
    height: 32px;
}

.login-signup {
    margin-left: auto;
    text-decoration: none !important;
}

.login-form {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial,sans-serif;
    font-weight: 700;
}

.session-header {
    font-family: Arial,sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-left: 20px;
}


.Link {
    text-decoration: none;
}