.search-bar {
    width: 60%;
    height: 41.25;
    margin-top: 15px;
    margin-left: 20px;
}

// .search-bar {
//     display: block;
//     margin-top: 15px;
//     margin-left: 200px;
//     // margin-right: auto;
//     width: 800px;
//     height: 30px;
//     border-radius: 5px;
//     border: black;
// }

